@page "/products/{skip:int?}/{take:int?}"
@using BlazingShop.Pages.Components

<h1>Products</h1>
<ProductListComponent Skip="@Skip" Take="@Take"></ProductListComponent>

@code {
	[Parameter]
	public int Skip { get; set; } = 0;

	[Parameter]
	public int Take { get; set; } = 12;
}
